:root {
  --rand: 0.5; /* will be a random number from 0 to 1 set by javascript */
  --small_deviation: calc(1px + (10 * var(--rand)));
  --medium_deviation: calc(1px + (25 * var(--rand)));
  --big_deviation: calc(1px + (50 * var(--rand)));
  --wobble: 10px;
  --wobble_minus: -10px;
  --wobble50: 50px;
  --wobble50_minus: -50px;
  --wobble100: 100px;
  --wobble100_minus: -100px;
  /* --wobble: var(--small_deviation);
  --wobble_minus: var(--small_deviation);
  --wobble50: var(--medium_deviation);
  --wobble50_minus: var(--medium_deviation);
  --wobble100: var(--big_deviation);
  --wobble100_minus: var(--big_deviation); */
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: visible;
    text-overflow:ellipsis;
}

.mouseover-fiesta {
  font-size: 64px;
  transition: all .3s;
}

.mouseover-fiesta:hover {
  color: #ff69b4; /* Change color on hover (e.g., hot pink) */
  transition: all .3s;
  font-size: 100px;
  animation: rotate 1s !important;
}

.mouseover-fiesta:on {
  color: #ff69b4; /* Change color on hover (e.g., hot pink) */
  transition: all .3s;
  font-size: 100px;
  animation: rotate 1s !important;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    color: #3cb371; /* Mint green */
    font-size: 46px;
    margin-bottom: 20px;
    animation: 20s wobble_x_wide_animation ; /* Add wobble animation */
    animation-iteration-count: infinite;
}

p {
    color: #696969;
    font-size: 18px;
    margin-bottom: 30px;
}

.countdown {
    margin-bottom: 44px;
    font-family:'Palatino', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.timer-label {
    font-size: 20px;
    margin-bottom: 10px;
}

.timer {
    font-size: 28px;
    font-weight: bold;
}

.timer span {
    margin: 0 5px;
    transition: ease-in-out 0.3s ease; /* For smooth hover effects */
    color: #b65686; /* Change color on hover (e.g., hot pink) */
}

.timer:hover span {
    transform: translateY(-5px); /* Move up on hover */
    color: #ff69b4; /* Change color on hover (e.g., hot pink) */
}

form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}

form button[type="button"] {
    padding: 10px 20px;
    background-color: #3cb371; /* Mint green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:ease-in-out 0.3s; /* For smooth hover effects */
    animation: wobble_x_small_animation 10s;
    animation-iteration-count: infinite;
}

.cursor_far {
  animation: swing 7s !important; 
  animation-iteration-count: infinite !important;
}

.cursor_close {
  animation: swing 2s !important; 
  animation-iteration-count: infinite !important;
}

.cursor_very_close {
  animation: wobble_shake_small_animation .1s !important; 
  animation-iteration-count: infinite !important;
}

.cursor_ultra_close {
  animation: wobble_shake_small_animation .1s !important; 
  animation-iteration-count: infinite !important;
  transform: scale(1.4);
  animation-iteration-count: 1 !important;
  background-color: #fffb93; /* Yellow color */

}

.emailform:focus-within form button[type="button"] {
    background-color: #fffb93; /* Yellow color */
}

form button[type="button"]:hover {
    background-color: rgb(255, 94, 94); /* Turn red on click */
    transition: all 0.3s;
    transform: scale(1.6);
    animation: wobble_y_medium_animation 1s !important;
    animation-iteration-count: infinite !important;
}

/* Add this style for the click effect */
form button[type="button"]:active {
    background-color: red; /* Turn red on click */
    animation: explode 0.25s forwards !important; /* Add explode animation */
    animation-iteration-count: infinite !important;
}

@keyframes swing { 
   20% { transform: rotate(12deg); } 
   40% { transform: rotate(-8deg); } 
   60% { transform: rotate(5deg); } 
   80% { transform: rotate(-5deg); } 
   100% { transform: rotate(0deg); } 
} 

/* Define the explode animation */
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(4);
    opacity: 0.8;
  }
  100% {
    transform: scale(10);
    opacity: .165;
  }
}

  /* x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis x-axis */
@keyframes wobble_x_small_animation {
    0% { transform: translateX(0); }
    15% { transform: translateX(-5px); }
    30% { transform: translateX(5px); }
    45% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    55% { transform: translateX(-5px); }
    90% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }

@keyframes wobble_x_medium_animation {
  0% { transform: translateX(0); }
  15% { transform: translateX(-10px); }
  30% { transform: translateX(10px); }
  45% { transform: translateX(-10px); }
  60% { transform: translateX(10px); }
  55% { transform: translateX(-10px); }
  90% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes wobble_x_wide_animation {
    0% { transform: translateX(0); }
    15% { transform: translateX(-50px); }
    30% { transform: translateX(50px); }
    45% { transform: translateX(-50px); }
    60% { transform: translateX(150px); }
    55% { transform: translateX(-50px); }
    90% { transform: translateX(50px); }
    100% { transform: translateX(0); }
  }

  /*y-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axisy-axis*/
@keyframes wobble_y_small_animation {
    0% { transform: translateY(0); }
    15% { transform: translateY(-5px); }
    30% { transform: translateY(5px); }
    45% { transform: translateY(-5px); }
    60% { transform: translateY(5px); }
    55% { transform: translateY(-5px); }
    90% { transform: translateY(5px); }
    100% { transform: translateY(0); }
  }

@keyframes wobble_y_medium_animation {
  0% { transform: translateY(0); }
  15% { transform: translateY(-10px); }
  30% { transform: translateY(10px); }
  45% { transform: translateY(-10px); }
  60% { transform: translateY(10px); }
  55% { transform: translateY(-10px); }
  90% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

@keyframes wobble_y_long_animation {
    0% { transform: translateY(0); }
    15% { transform: translateY(-50px); }
    30% { transform: translateY(50px); }
    45% { transform: translateY(-50px); }
    60% { transform: translateY(150px); }
    55% { transform: translateY(-50px); }
    90% { transform: translateY(50px); }
    100% { transform: translateY(0); }
  }

  /* shakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxisshakeaxis */

  @keyframes wobble_shake_small_animation {
    0% { transform: translateY(0); }
    1% { transform: translateX(0); }
    10% { transform: translateY(var(--wobble_minus)); }
    15% { transform: translateX(var(--wobble_minus)); }
    30% { transform: translateY(var(--wobble)); }
    35% { transform: translateX(var(--wobble)); }
    40% { transform: translateY(var(--wobble_minus)); }
    45% { transform: translateX(var(--wobble_minus)); }
    55% { transform: translateY(var(--wobble)); }
    60% { transform: translateX(var(--wobble)); }
    65% { transform: translateY(var(--wobble_minus)); }
    75% { transform: translateX(var(--wobble_minus)); }
    80% { transform: translateY(var(--wobble)); }
    90% { transform: translateX(var(--wobble)); }
    95% { transform: translateY(0); }
    100% { transform: translateX(0); }
  } 
  
  @keyframes wobble_shake_medi_animation {
    0% { transform: translateY(0); }
    1% { transform: translateX(0); }
    10% { transform: translateY(var(--wobble50_minus)); }
    15% { transform: translateX(var(--wobble50_minus)); }
    30% { transform: translateY(var(--wobble50)); }
    35% { transform: translateX(var(--wobble50)); }
    40% { transform: translateY(var(--wobble50_minus)); }
    45% { transform: translateX(var(--wobble50_minus)); }
    55% { transform: translateY(var(--wobble50)); }
    60% { transform: translateX(var(--wobble50)); }
    65% { transform: translateY(var(--wobble50_minus)); }
    75% { transform: translateX(var(--wobble50_minus)); }
    80% { transform: translateY(var(--wobble50)); }
    90% { transform: translateX(var(--wobble50)); }
    95% { transform: translateY(0); }
    100% { transform: translateX(0); }
  } 

  @keyframes wobble_shake_big_animation {
    0% { transform: translateY(0); }
    1% { transform: translateX(0); }
    10% { transform: translateY(var(--wobble100_minus)); }
    15% { transform: translateX(var(--wobble100_minus)); }
    30% { transform: translateY(var(--wobble100)); }
    35% { transform: translateX(var(--wobble100)); }
    40% { transform: translateY(var(--wobble100_minus)); }
    45% { transform: translateX(var(--wobble100_minus)); }
    55% { transform: translateY(var(--wobble100)); }
    60% { transform: translateX(var(--wobble100)); }
    65% { transform: translateY(var(--wobble100_minus)); }
    75% { transform: translateX(var(--wobble100_minus)); }
    80% { transform: translateY(var(--wobble100)); }
    90% { transform: translateX(var(--wobble100)); }
    95% { transform: translateY(0); }
    100% { transform: translateX(0); }
  } 